h1{
background-color: antiquewhite;
}

h1:hover{
    
background: rgb(227,220,13);
background: linear-gradient(90deg, rgba(227,220,13,1) 29%, rgba(242,127,19,1) 54%, rgba(251,10,51,1) 75%);
}


#show_sketch{
    float:right;
    align-self: baseline;
    height: 55px;
    font-size: 20px;
    background: rgb(195,34,89);
    box-shadow:5px 5px 5px orange;
    box-shadow: 1px 1px 38px yellow;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border:2px solid black;

}

#show_sketch:hover{
    
background: radial-gradient(circle, rgba(195,34,89,1) 0%, rgba(220,255,29,1) 98%);
}

#score{
    float:left;
    align-self: baseline;
    margin-top: 50px;
    font-size: 30px;
}

#timer{
    float:right;
    align-self: baseline;
    margin-top: 50px;
    font-size: 30px;

}

body{
    background: rgb(251,196,63);
background: radial-gradient(circle, rgba(251,196,63,1) 0%, rgba(70,189,252,1) 100%);
}

canvas 
  {
    border:2px solid black;
    border-radius:20px;
    margin-top:80px;
    box-shadow:5px 5px 5px blue;
    box-shadow: 1px 1px 38px red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {

    from {box-shadow: 1px 1px 38px red;}
    to {box-shadow: 1px 1px 38px blue;}
  
  }

  p, span
  {
    padding-top:10px;
    font-family: 'Special Elite', fantasy;
    font-size:25px;
    
  }

  #c{
    margin-top: 330px;
    margin-left: 500px;
    height: 50px;
width: 150px;
background: rgb(7,244,134);
border-radius: 5px;
box-shadow:5px 5px 5px blue;
    box-shadow: 1px 1px 38px red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;

  }

  #c:hover{
background: linear-gradient( rgba(7,244,134,1) , rgba(29,26,249,1), pink );

  }


  #e{
    margin-top: 330px;
    margin-left: 200px;
    height: 50px;
width: 150px;
background: rgb(7,24,34);
border-radius: 5px;
box-shadow:5px 5px 5px blue;
    box-shadow: 1px 1px 38px red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

  }

  #e:hover{
background: linear-gradient( rgba(1,20,12,1) , rgba(2,264,29,1), pink );

  }



  #d{
    margin-top: 30px;
    margin-left: -330px;
    height: 50px;
width: 150px;
background: pink;
border-radius: 5px;
box-shadow:5px 5px 5px blue;
    box-shadow: 1px 1px 38px red;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    font-size: 23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;

  }

  #d:hover{
background: linear-gradient( green,yellow,pink );

  }

 
